<div class="d-flex justify-content-center">
    <div class="card mt-3 text-dark text-center" style="width: 300px;">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">

            {{status}}
            <form action="" method="POST">
                <div class="form-group">
                    <label for="" class="my-1">E-mail</label>
                    <input type="text" class="form-control" name="user_email" placeholder="Digite seu e-mail" required autofocus>

                </div>
                <div class="form-group my-3">
                    <label for="" class="my-1">Senha</label>
                    <input type="password" class="form-control" name="user_password" placeholder="Digite sua senha" required>

                </div>
                <button type="submit" class="btn btn-lg btn-success">Entrar</button>
            </form>
        </div>
    </div>
</div>